/* Nav styles */
nav {
    display: flex; 
}

/* Shared Style */

.secondary-bg {
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-1 {
    color: #181818;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}

.btn-primary {
    /* height: 64px;
    width: 200px; */
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FD6E0A;
    padding: 18px 35px;   
    border-radius: 5px;
    border: none;
}
.btn-primary-2 {
    /* height: 64px;
    width: 160px; */
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    padding: 18px 35px;   
    border-radius: 5px;
    margin-left: 30px;
}



.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center {
    text-align: center;
}
/* nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; /* adjust margin as needed */ 
    max-width: 1540px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px; 
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}
/* Header style */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
/* Banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1540px;
    margin: 0 auto;
    /* margin: 0 35px 0 200px; */
}

.banner-content {
    /* max-width: 585px; */
    /* max-height: 356px; */
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-profile-pic {
    width: 580px;
    /* margin-left: 978px; */
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About styles */
.about {
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
}
.about-items {
    display: flex;
    justify-content: space-around;  
}

.item-description {
    font-weight: 600;
}

/* Skills Styes */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    text-align: center;
}
/* Resume styles */
.section-title-what {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 110px;

}
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.experience-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.experience-sub-title {
    margin-top: 0px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume hr {
    margin: 30px 0;
}

.resume-download-cv {
    margin-top: 50px;
}

/* Footer style */
footer {
    /* border: 1px solid green; */
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
    /* flex: 1; */
}

footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 461px;
    border: none;
    display: block;
    padding: 10px 30px;
    margin: 24px 0;
}

.icons {
    display: flex;
    gap: 5px;
}

/* Responsive media query */

.hide {
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container, .resume-container, footer {
        flex-direction: column;
    }
    footer {
        padding: 20px;
    }
    .footer-column {
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea {
        width: calc(100% - 40px);
    }
}
